[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.1.1"
cloudpickle = "*"
pickleshare = "*"
pyarrow = "==8.0.0"

[dev-packages]

[requires]
python_version = "3.9"
